#root, :root, html, body {
    --blue: hsl(200, 25%, 35%);
    --light-blue: hsl(185, 40%, 85%);

    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--light-blue);
    color: var(--blue);
}

.counter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button {
    border: 1.5px solid var(--blue);
    border-radius: 100px;
    background-color: hsla(0, 0%, 0%, 0);
    padding: 7px 15px 10px 15px;
    margin: 1vmin;

    font-family: 'Poiret One', sans-serif;
    font-size: calc(1rem + 1vmin);
    color: var(--blue);

    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.button:hover {
    background-color: var(--blue);
    color: var(--light-blue);
}
.adjust-button {
    width: 50px;
    height: 50px;
    padding-top: 2px;
    font-size: 2.5rem;
}
.clear-button {
    border: none;
    padding-top: 5px;
    margin: 0;
    text-decoration: underline;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: calc(0.75rem + 1vmin);
    color: var(--blue);
    font-family: 'Poiret One', sans-serif;
    cursor: pointer;
}
.number {
    font-family: 'Poiret One', sans-serif;
    font-size: calc(10rem + 10vmin);
    margin: 0;
}